/podcasts-transcripts-0to2.tar.gz
/spotify-podcasts-2020/
/metadata.tsv
/WebPage/app2.py
/WebPage/templates/signup.html
/WebPage/templates/test.html
/WebPage/BM25_data.csv
/.idea/
/archive/
/venv/
/.DS_Store/